# Ignorer les environnements virtuels
venv/

# Ignorer les fichiers compilés Python
*.pyc
__pycache__/

# Ignorer les logs et fichiers temporaires
*.log
*.tmp
*.swp

# Ignorer les dossiers spécifiques à l'IDE
.vscode/
.idea/
